#devis-form {
    padding-bottom: 250px;
    .devisfc-container {
        position: relative;
        top: 15px;
        .devisfc-h3 {
            font-size: 1.4rem;
            line-height: 1.9rem;
            color: $black;
            opacity: .6;
            margin: 0;
            .cfc-block {
                display: block;
            }
            &.min-width {
                width: 145px;
            }
            img {
                margin-right: 10px;
                padding-left: 10px;
            }
        }
        .devis-container-form {
            background: $white;
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
            min-height: 300px;
            position: relative;
            z-index: 2;
            top: -30px;
        }
        .cfc-padding-50 {
            padding: 50px;
        }
        .cfc-padding-10 {
            padding: 20px 0 0 0;
            opacity: 1;
        }
        ul.devisfc-ul {
            background: $blue;
            padding: 10px 20px 10px 50px;
            border-radius: 7px;
            margin: 0;
            position: relative;
            left: -40px;
            li.devisfc-li {
                width: calc(100% / 4);
                a {
                    color: $white;
                    border: 0;
                    font-size: 1.2rem;
                    text-align: center;
                    margin: 0;
                    &:hover {
                        background: transparent;
                        border-color: transparent;
                    }
                }
                &.active {
                    a {
                        border: 0;
                        background: transparent;
                        position: relative;
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: -13px;
                            width: 100px;
                            height: 10px;
                            left: 50%;
                            margin-left: -50px;
                            border-radius: 3px;
                            background: #14486e;
                        }
                    }
                }
            }
        }
        .tab-content {
            padding: 20px;
            .devis-input {
                height: 60px;
                margin-bottom: 10px;
            }
            textarea {
                resize: none;
                width: 100%;
                padding: 10px;
                border-radius: 5px;
            }
        }
    }
}

.devis-container-itens {
    background: $xxlight-gray;
    min-height: 300px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    @include xs {
        background: $light-gray;
        overflow-x: scroll;
        height: calc(100% - 35px);
        position: absolute;
        width: 100%;
        left: 0;
    }
    .devis-list-product {
        padding: 10px 0 0 0;
        @include xs {
            padding: 10px;
        }
        .dlp-count-produits {
            color: $soft-gray;
            padding-left: 10px;
            img {
                width: 50px;
                float: right;
                padding: 5px 15px;
            }
        }
        .btn-dlp-submit {
            width: calc(100% - 20px);
            padding: 20px;
            border: solid 1px $blue !important;
            color: $blue !important;
            margin: 20px 10px 20px 10px !important;
            font-size: 1.3rem;
            font-weight: bold;
            display: block;
            text-align: center;
            &:hover {
                background: $blue !important;
                color: $white !important;
                transition: all ease-out .1s;
            }
        }
        .dlp-card {
            width: 100%;
            height: 30px;
            display: table;
            background: $white;
            margin-bottom: 10px;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
            .clpc-image {
                display: flex;
                width: 100%;
                height: 115px;
                justify-content: center;
                img {
                    width: 70%;
                }
                &.clpc-image-mobile {
                    @include xs {
                        display: none;
                    }
                }
            }
            .clpc-content {
                display: flex;
                height: 115px;
                width: 100%;
                justify-content: flex-start;
                align-items: center;
                flex-flow: wrap;
                .clpc-h3 {
                    margin: 0;
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: $black;
                }
                .clpc-p {
                    margin: 0;
                    font-size: 1rem;
                    color: $soft-gray;
                    padding-top: 3px;
                }
                .clpc-span {
                    display: block;
                    font-size: 1rem;
                    color: $blue;
                    width: 100%;
                    padding-top: 10px;
                }
            }
            .clpc-count {
                text-align: center;
                display: flex;
                height: 115px;
                width: 100%;
                justify-content: center;
                align-items: center;
                .clpcc-p {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-bottom: 0;
                    line-height: 1.5rem;
                    color: $black;
                    small {
                        display: block;
                        color: $soft-gray;
                        font-weight: 100;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}