#documents-archives {
    padding-top: 70px;
    overflow: hidden;
    .documents-archives-container {
        &.dac-card-effect {
            box-shadow: 0 0 10px 0 rgba(217, 217, 217, 0.5);
            width: 100%;
            height: 350px;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-flow: wrap row;
            text-align: center;
            margin: 50px 0;
        }
        &.dca-center {
            height: 450px;
            position: relative;
            top: -50px;
            &:before {
                content: '';
                position: absolute;
                bottom: -30px;
                height: 30px;
                width: 70%;
                left: 50%;
                margin-left: -35%;
                background: $blue;
                border-radius: 0 0 15px 15px;
            }
        }
        .dac-image {
            display: block;
        }
        .dac-h3 {
            font-weight: bold;
            font-size: 1.5rem;
            width: 100%;
            &.dac-h3-padding {
                padding: 0 0 50px 0;
            }
        }
        .dac-p {
            font-weight: bold;
            font-size: 1.3rem;
            padding: 0 30px;
            @include xs {
                padding: 40px 30px 0 30px;
            }
        }
        .dac-link {
            font-size: 1.2rem;
            color: $blue;
            display: block;
            width: 100%;
            padding: 5px 0;
            &:hover {
                cursor: pointer;
                opacity: .5;
                transition: all ease-out .3s;
            }
            &.dac-link-small {
                font-size: 1.2em;
                &:hover {
                    cursor: pointer;
                    opacity: .5;
                    transition: all ease-out .3s;
                }
            }
        }
    }
}

#documents-photos {
    margin-top: 100px;
    background: linear-gradient(to bottom, $white 169px, $xxlight-gray 169px);
    position: relative;
    padding-bottom: 50px;
    overflow: hidden;
    &.pcs-big-padding-bottom {
        padding-bottom: 150px;
    }
    &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 150px 0 0 700px;
        border-color: transparent transparent transparent $xxlight-gray;
        position: absolute;
        top: 23px;
        left: 0;
        z-index: 0;
        @include xl {
            border-width: 150px 0 0 1000px;
        }
        @include md {
            border-width: 150px 0 0 500px;
        }
    }
    &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 150px 700px;
        border-color: transparent transparent $xxlight-gray transparent;
        position: absolute;
        top: 23px;
        right: 0;
        z-index: 0;
        @include xl {
            border-width: 0 0 150px 1000px;
        }
        @include md {
            border-width: 0 0 150px 500px;
        }
    }
    .link-documents-download {
        .dp-description {
            position: relative;
            background: $white;
            right: -2px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-flow: wrap;
            width: 60px;
            height: 280px;
            float: left;
            border: solid 1px $white;
            @include sm {
                height: 187px;
                margin: 20px 0;
            }
            @include xs {
                height: 260px;
                margin: 10px 0;
            }
            @include i7 {
                height: 322px;
            }
            @include i7plus {
                height: 365px;
            }
            &:before {
                content: '';
                width: 2px;
                height: 25px;
                background: lighten($soft-gray, 20%);
                position: absolute;
                top: 12px;
            }
            .dpd-p {
                transform: rotate(-90deg);
                padding: 10px;
                text-align: right;
                margin: 0;
                position: absolute;
                top: 85px;
                font-size: 1.3rem;
                color: $blue;
                width: 135px;
                font-weight: bold;
            }
            @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
                .dpd-p {
                    left: -40px;
                }
                &:before {
                    left: 27px;
                }
            }
        }
        &:hover {
            .dp-description {
                background: $light-gray;
                transition: all ease-out .2s;
                border: solid 1px darken($xlight-gray, 10%);
                .dpd-p {
                    color: $gray;
                }
            }
        }
        img {
            @include sm {
                width: calc(100% - 60px);
                margin: 20px 0;
            }
            @include xs {
                width: calc(100% - 60px);
                margin: 10px 0;
            }
        }
    }
    .dp-blue-box-margin-top {
        margin-top: 150px;
        position: relative;
        .dp-blue-box {
            background: $dark-blue;
            padding: 25px 25px 100px 25px;
            position: absolute;
            bottom: -80px;
            left: 0;
            max-width: 250px;
            border-radius: 5px;
            @include xs {
                position: relative;
                bottom: 0;
                max-width: 100%;
                padding: 25px;
            }
            @include sm {
                position: relative;
                bottom: 0;
                max-width: 100%;
                padding: 25px;
            }
            .dpbb-h3 {
                color: $white;
                padding: 0;
                margin: 0;
                font-size: 1.1rem;
            }
            .dpbb-p {
                color: $white;
                padding: 20px 0 0 0;
                margin: 0;
                font-size: 1.1rem;
                line-height: 1.5rem;
                font-weight: 100;
            }
        }
    }
}