footer {
    .footer-brand {
        background: $dark-blue;
        height: 90px;
        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            position: relative;
            &:after {
                display: none;
            }
            .fb-logo {
                width: 150px;
                @include xs {
                    width: 50%;
                }
            }
            .fb-text {
                position: relative;
                @include xs {
                    display: none;
                }
                .fbt-text {
                    color: $white;
                    font-size: 1.4rem;
                    text-align: right;
                    margin: 0;
                    padding-right: 170px;
                }
                .fbt-image {
                    height: 205px;
                    width: 150px;
                    background: $xlight-gray;
                    padding: 10px;
                    position: absolute;
                    right: 0;
                    bottom: -40px;
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
                }
            }
        }
    }
    .footer-links {
        background: $white;
        height: 250px;
        display: table;
        width: 100%;
        ul {
            margin: 0;
            padding: 70px 0 0 0;
            @include lg {
                padding: 30px 0 0 0;
            }
            @include md {
                padding: 30px 0 0 0;
            }
            @include sm {
                padding: 30px 0 0 0;
            }
            @include xs {
                padding: 30px 0 0 0;
            }
            li {
                list-style: none;
                padding: 2.5px 0;
                &.fl-title {
                    font-size: 1.2rem;
                    color: $gray;
                    padding-bottom: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                a.fl-link {
                    color: $gray;
                    opacity: .5;
                    font-size: 1rem;
                    &:hover {
                        color: $blue;
                        transition: all ease-out .3s;
                    }
                }
            }
        }
        address {
            color: $gray;
            opacity: .5;
        }
        .pull-right {
            @include lg {
                float: left !important;
                .text-right {
                    text-align: left;
                }
            }
            @include md {
                float: left !important;
                .text-right {
                    text-align: left;
                }
            }
            @include sm {
                float: left !important;
                .text-right {
                    text-align: left;
                }
            }
            @include xs {
                float: left !important;
                .text-right {
                    text-align: left;
                }
            }
        }
    }
    .footer-copyright {
        background: $white;
        .wrapper {
            &>div {
                border-top: solid 1px $light-gray;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                position: relative;
                p.fc-text {
                    color: $gray;
                    padding: 20px 0;
                    opacity: .5;
                    margin: 0;
                    font-size: .8rem;
                }
            }
            &:after {
                display: none;
            }
        }
    }
}