#header-carty {
    background: rgba(255, 255, 255, .9);
    position: absolute;
    width: 100%;
    height: 65px;
    top: 40px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.36);
    z-index: 5;
    @include xs {
        top: 0;
    }
    .custom-select {
        display: inline-block;
        z-index: 999;
        position: relative;
        &:hover {
            cursor: pointer;
        }
    }
    .custom-select-selected {
        color: $white;
        text-decoration: none;
        outline: none;
        display: inline-block;
        font-size: 100%;
        width: 100%;
        cursor: hand;
        &:hover,
        &:focus {
            color: $white;
        }
        i {
            color: $white;
            font-size: 1rem;
            font-size: .6rem;
            margin-left: 5px;
        }
        a {
            i {
                color: $white;
                font-size: 1rem;
                font-size: .6rem;
                margin-left: 5px;
            }
        }
    }
    .custom-select-options {
        display: none;
        width: 100%;
        list-style: none;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        background-color: $white;
        border-radius: 5px;
        width: 50px;
        padding: 5px 0;
        li {
            width: 100%;
            a {
                width: 100%;
                padding: 5px;
                display: block;
                color: #fff;
                text-align: center;
                &:hover {
                    text-decoration: none;
                }
                i {
                    display: none;
                }
            }
        }
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        position: relative;
        &:after {
            display: none;
        }
        a.hc-logo {
            display: inline-block;
            width: 160px;
            top: 11px;
            position: relative;
            @include xs {
                width: 140px;
                top: 9px;
                margin: auto;
            }
        }
        &>nav.site-nav-sub {
            position: absolute;
            right: 140px;
            top: -31px;
            @include xs {
                display: none;
            }
            &>.page-link-sub {
                display: inline-block;
                margin-left: 20px;
                color: $white;
                @include xs {
                    margin-left: 10px;
                }
                button {
                    background: transparent;
                    border: 0;
                }
                &.dropdown {
                    button#pl-dropdown-sub {
                        border: 0;
                        background: transparent;
                        span.glyphicon.glyphicon-menu-down {
                            font-size: .6rem;
                            top: 0px;
                        }
                    }
                    &.open {
                        &>.dropdown-menu {
                            color: $gray;
                            padding: 10px;
                        }
                    }
                }
            }
        }
        nav.site-nav {
            float: inherit;
            line-height: normal;
            @include xs {
                border: 0;
                background: transparent;
                left: 10px;
                right: inherit;
                label[for="nav-trigger"] {
                    float: left;
                }
            }
            .menu-icon>svg path {
                fill: $blue;
            }
            .nav-trigger-menu {
                @include lg {
                    display: none;
                }
                @include xl {
                    display: none;
                }
            }
            .trigger {
                position: relative;
                .nav-trigger-close {
                    display: none;
                }
                @include xs {
                    .nav-trigger-close {
                        color: $white;
                        display: table;
                        width: 100%;
                        padding: 10px 0 0 10px;
                        font-size: 3rem;
                        text-align: left;
                    }
                    position: fixed;
                    background: $blue;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                .page-link {
                    color: $text-blue;
                    font-size: 1.4rem;
                    display: inline-block;
                    @include sm {
                        position: relative;
                        top: -10px;
                    }
                    @include xs {
                        display: block;
                        width: 100%;
                        color: $white;
                        text-align: center;
                        margin: 0;
                        padding: 10px 0;
                        font-size: 2rem;
                        &.pl-last-link {
                            display: none !important;
                        }
                    }
                    button {
                        background: transparent;
                        border: 0;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                    &.dropdown {
                        position: relative;
                        &:hover {
                            .dropdown-menu {
                                display: block;
                                padding: 0 20px;
                                top: 45px;
                                border-radius: 0;
                                left: -130%;
                                border: 0;
                                overflow: hidden;
                                width: 385px;
                                display: flex;
                                align-items: flex-start;
                                &:before {
                                    content: '';
                                    width: 100%;
                                    height: 0px;
                                    left: 0;
                                    position: absolute;
                                    top: 0;
                                    box-shadow: 0px 0px 23px 2px rgba(0, 0, 0, .6);
                                }
                                li {
                                    display: inline-block;
                                    opacity: .6;
                                    &:hover {
                                        opacity: 1;
                                        transition: all ease-out .3;
                                    }
                                    a {
                                        color: $blue;
                                        text-align: center;
                                        margin: 10px auto;
                                        small {
                                            display: block;
                                            width: 100%;
                                            font-size: .8rem;
                                        }
                                        img {
                                            display: block;
                                            margin: 10px auto;
                                        }
                                        &:hover {
                                            background: transparent;
                                        }
                                    }
                                }
                            }
                            &:before {
                                content: '';
                                position: absolute;
                                width: 386px;
                                top: 30px;
                                height: 123px;
                                left: -130%;
                                background: transparent;
                            }
                        }
                        a#pl-dropdown {
                            background: transparent;
                            border: 0;
                            i.glyphicon.glyphicon-menu-down {
                                font-size: .7rem;
                                top: -1px;
                                @include xs {
                                    top: -3px;
                                }
                            }
                        }
                        &.open {
                            &>.dropdown-menu {
                                padding: 0 20px;
                                top: 45px;
                                border-radius: 0;
                                left: -130%;
                                border: 0;
                                overflow: hidden;
                                width: 385px;
                                display: flex;
                                align-items: flex-start;
                                @include xs {
                                    left: 0;
                                    width: 100%;
                                    position: relative;
                                    top: 0;
                                    box-shadow: none;
                                    background: $blue;
                                    display: block;
                                }
                                &:before {
                                    content: '';
                                    width: 100%;
                                    height: 0px;
                                    left: 0;
                                    position: absolute;
                                    top: 0;
                                    box-shadow: 0px 0px 23px 2px rgba(0, 0, 0, .6);
                                    @include xs {
                                        display: none;
                                    }
                                }
                                li {
                                    display: inline-block;
                                    @include xs {
                                        display: block;
                                    }
                                    a {
                                        color: $blue;
                                        text-align: center;
                                        margin: 10px auto;
                                        @include xs {
                                            color: $white;
                                        }
                                        small {
                                            display: block;
                                            width: 100%;
                                            font-size: .8rem;
                                        }
                                        img {
                                            display: block;
                                            margin: 10px auto;
                                            @include xs {
                                                display: none;
                                            }
                                        }
                                        &:hover {
                                            background: transparent;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.pl-before-last-link {
                        padding-right: 105px;
                        @include xs {
                            padding-right: inherit;
                        }
                    }
                    &.pl-last-link {
                        a.plll {
                            display: flex;
                            flex-flow: column;
                            color: $white;
                            &:hover {
                                color: $white;
                            }
                            img {
                                align-self: center;
                                margin-bottom: 5px;
                            }
                        }
                        background: $blue;
                        position: absolute;
                        right: 0;
                        top: -58px;
                        height: 105px;
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                        padding: 15px 10px;
                        color: $white;
                        flex-flow: column;
                        @include sm {
                            top: -67px;
                        }
                        &:hover {
                            background: darken($blue, 5%);
                            transition: all ease-out .3s;
                            cursor: pointer;
                        }
                        &.dropdown-devis {
                            &:hover {
                                .dropdown-menu-devis {
                                    display: block;
                                    padding: 0;
                                    top: 102px;
                                    border-radius: 0;
                                    right: 0;
                                    left: inherit;
                                    border: 0;
                                    overflow: hidden;
                                    width: 450px;
                                    display: flex;
                                    align-items: flex-start;
                                    &:before {
                                        content: '';
                                        width: 100%;
                                        height: 0px;
                                        left: 0;
                                        position: absolute;
                                        top: 0;
                                        box-shadow: 0px 0px 23px 2px rgba(0, 0, 0, .6);
                                    }
                                    li {
                                        padding: 0 10px;
                                        display: inline-block;
                                        opacity: 1;
                                        width: 100%;
                                        &:hover {
                                            opacity: 1;
                                            transition: all ease-out .3;
                                        }
                                        a {
                                            color: $blue;
                                            text-align: center;
                                            margin: 10px auto;
                                            small {
                                                display: block;
                                                width: 100%;
                                                font-size: .8rem;
                                            }
                                            img {
                                                display: block;
                                                margin: 10px auto;
                                            }
                                            &:hover {
                                                background: transparent;
                                            }
                                        }
                                    }
                                }
                                &:before {
                                    content: '';
                                    position: absolute;
                                    width: 250px;
                                    top: 95px;
                                    height: 123px;
                                    right: 0;
                                    left: inherit;
                                    background: transparent;
                                }
                            }
                        }
                    }
                }
                .mobile-hr {
                    display: none;
                    @include xs {
                        display: block;
                        opacity: .4;
                        width: 90%;
                        margin: 20px auto;
                    }
                }
                .mobile-links-dropdown-menu {
                    display: none;
                    @include xs {
                        &:first-of-type {
                            border-top: solid 1px rgba(255, 255, 255, .2);
                        }
                        display: block;
                        width: 100%;
                        margin: auto;
                        text-align: center;
                        color: $white;
                        font-size: 1.2rem;
                        opacity: .8;
                        padding: 6px;
                    }
                }
            }
        }
        nav.nav-devis {
            display: none;
            @include xs {
                display: block;
            }
            input.nav-devis {
                display: none;
                &~.trigger-devis {
                    clear: both;
                    display: none;
                }
                &:checked~.trigger-devis {
                    display: block;
                }
            }
            label.nav-devis-menu {
                img.ndm-image {
                    width: 20px;
                }
            }
            .trigger-devis {
                background: $light-gray;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                .nav-devis-close {
                    color: $blue;
                    display: table;
                    width: 100%;
                    padding: 10px 0 0 10px;
                    font-size: 3rem;
                    text-align: left;
                }
            }
        }
    }
}