.no-padding {
    padding: 0 !important;
}

.relative {
    position: relative;
    z-index: 2;
}

.btn-submit {
    padding: 15px 35px;
    margin: 15px 0 5px;
    font-size: 1.1rem;
    font-weight: bold;
}