#home {
    overflow: hidden;
    .main-banner {
        background: url("/assets/images/index/banner-home.jpg");
        background-size: cover;
        height: 760px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
        z-index: 0;
        .mb-text {
            align-self: center;
            text-align: center;
            .mbt-p {
                font-size: 3rem;
                line-height: 3rem;
                text-align: center;
                max-width: 600px;
                color: $white;
                padding-top: 20px;
            }
        }
    }
    .hc-relative {
        padding-bottom: 200px;
        @include xs {
            padding-bottom: 0;
        }
        @include sm {
            padding-bottom: 0;
        }
    }
    .home-collumn {
        padding: 5px;
        background: $background;
        position: absolute;
        top: -150px;
        @include xs {
            position: relative;
            top: 0;
        }
        @include sm {
            top: 0;
            position: relative;
        }
        &>div {
            padding: 7.5px;
        }
        .hc-box-content {
            height: 300px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            &.cb-box {
                background: url("/assets/images/index/img-cartybox.jpg");
                background-size: cover;
            }
            &.pc-box {
                background: url("/assets/images/index/img-pots.jpg");
                background-size: cover;
            }
            &.fc-box {
                background: url("/assets/images/index/img-flutes.jpg");
                background-size: cover;
            }
            .hcbc-text {
                text-align: center;
                align-self: center;
                h3.hcbct-h3 {
                    color: $white;
                    font-size: 2rem;
                    font-weight: bold;
                }
                p.hcbct-p {
                    color: $white;
                    padding: 5px 50px;
                    font-size: 1.2rem;
                }
            }
        }
    }
    #home-call-to-action {
        position: relative;
        z-index: 1;
        .hcta-first {
            background: url("/assets/images/index/img-cartyboxs.png");
            height: 600px;
            width: 100%;
            background-position: left center;
            background-repeat: no-repeat;
            @include xs {
                height: auto;
            }
            .hctaf-box {
                display: flex;
                flex-flow: wrap row;
                justify-content: center;
                align-items: center;
                height: 85%;
                background-color: rgba(44, 111, 166, .9);
                width: 320px;
                top: 5%;
                position: relative;
                padding: 25px;
                text-align: center;
                float: right;
                @include xs {
                    width: 100%;
                    top: 0;
                }
                .hctafb-h3 {
                    color: $white;
                    font-size: 2rem;
                    padding-bottom: 30px;
                }
                .hctafb-p {
                    color: $white;
                    font-size: 1.1rem;
                    opacity: .5;
                    line-height: 1.9rem;
                }
                .hctafb-button {
                    color: $white;
                    background: transparent;
                    border: solid 1px $white;
                    border-radius: 3px;
                    font-size: 1.2rem;
                    padding: 15px;
                    text-transform: uppercase;
                    width: 100%;
                    margin-top: 30px;
                    opacity: .8;
                }
                .hctafb-cucumber {
                    position: absolute;
                    left: -50px;
                    bottom: -30px;
                    width: 100px;
                }
                .hctafb-strawberry {
                    position: absolute;
                    right: -50px;
                    bottom: -30px;
                    width: 100px;
                }
            }
        }
        .hcta-second {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            height: 550px;
            .hctas-box {
                width: 100%;
                .hctasb-title {
                    font-size: 5rem;
                    color: $blue;
                    text-align: center;
                    small {
                        font-size: 1.2rem;
                        display: block;
                        color: $blue;
                        opacity: .8;
                    }
                }
            }
        }
    }
    #home-clients {
        background: $xlight-gray;
        padding-bottom: 150px;
        position: relative;
        z-index: 0;
        &:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 150px 0 0 700px;
            border-color: transparent transparent transparent #F5F5F5;
            position: absolute;
            top: -150px;
            right: 0;
            @include xl {
                border-width: 150px 0 0 1000px;
            }
            @include md {
                border-width: 150px 0 0 500px;
            }
        }
        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 150px 700px;
            border-color: transparent transparent #F5F5F5 transparent;
            position: absolute;
            top: -150px;
            left: 0;
            @include xl {
                border-width: 0 0 150px 1000px;
            }
            @include md {
                border-width: 0 0 150px 500px;
            }
        }
        .hcl-title {
            font-size: 2rem;
            color: $blue;
            text-align: center;
            padding: 30px 0;
            text-transform: uppercase;
            font-weight: bold;
        }
        .hcl-box {
            img.hclb-img {
                margin: auto;
                display: table;
                padding-bottom: 30px;
            }
            p.hclb-text {
                font-size: 1.3rem;
                line-height: 1.8rem;
                color: $black;
                opacity: .6;
                font-weight: bold;
                padding: 0 30px;
                text-align: center;
            }
        }
    }
}