html {
    font-size: 14px;
}

body {
    background: $light-gray;
    position: relative;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
}

a:hover {
    text-decoration: none;
}

.wrapper {
    max-width: -webkit-calc(1190px - (30px * 2));
    max-width: calc(1190px - (30px * 2));
}

main.page-content {
    min-height: 800px;
}