#product-container {
    overflow: hidden;
    .double-slider-container {
        position: relative;
        padding-bottom: 150px;
        @include xs {
            padding-bottom: 70px;
        }
        .double-slider-container-first {
            position: relative;
            top: 30px;
            z-index: 1;
            .carousel-control {
                &.left,
                &.right {
                    top: -25px;
                    height: 100px;
                    @include xs {
                        top: -50px;
                    }
                }
            }
        }
        .double-slider-container-second {
            position: absolute;
            top: -110px;
            width: 100%;
            z-index: 0;
            .carousel-control {
                &.left,
                &.right {
                    top: 270px;
                    height: 100px;
                    @include xs {
                        top: 90px;
                    }
                }
            }
            @include xs {
                top: -35px;
            }
        }
    }
    .main-banner {
        height: 760px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
        z-index: 0;
        @include xs {
            height: 360px;
        }
        &.banner-cartybox {
            background: url("images/cartybox/cartybox-banner.jpg");
            background-size: cover;
            background-position: center;
        }
        &.banner-potsfermeture {
            background: url("images/potscarty-fermeture/banner-potsfermeture.jpg");
            background-size: cover;
            background-position: center;
        }
        &.banner-potsautres {
            background: url("images/potscarty-autres/banner-pots-autres.jpg");
            background-size: cover;
            background-position: center;
        }
        &.banner-flutes-carty {
            background: url("images/flutes-carty/banner-flutes.jpg");
            background-size: cover;
            background-position: center;
        }
        &.banner-potscarty-pots {
            background: url("images/potscarty-pots/banner-pots.jpg");
            background-size: cover;
            background-position: center;
        }
        &:after {
            content: '';
            position: absolute;
            height: 10px;
            width: 100%;
            bottom: 0;
            left: 0;
            background: $blue;
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .mb-text {
            align-self: center;
            text-align: center;
            position: relative;
            .mbt-h3 {
                font-size: 3.5rem;
                color: $white;
                text-align: center;
                @include xs {
                    font-size: 2rem;
                }
            }
            .mbt-p {
                font-size: 2rem;
                line-height: 2.5rem;
                text-align: center;
                max-width: 600px;
                color: $white;
                font-weight: 100;
                padding-top: 0;
                opacity: .9;
                @include xs {
                    font-size: 1.2rem;
                    line-height: 1.7rem;
                }
            }
        }
    }
    .hc-relative {
        padding-bottom: 200px;
        &.hc-relative-large {
            padding-bottom: 580px;
            @include xs {
                padding-bottom: 0;
            }
        }
        @include xs {
            padding-bottom: 0;
        }
        @include sm {
            padding-bottom: 0;
        }
    }
    .product-collumn {
        padding: 5px;
        background: $background;
        position: absolute;
        top: -150px;
        width: 100%;
        left: 15px;
        box-shadow: 0 2px 4px 0 rgba(219, 212, 212, 0.5);
        @include xs {
            position: relative;
            top: 0;
            min-height: 320px;
        }
        @include sm {
            top: 0;
            position: relative;
        }
        &>div {
            padding: 7.5px;
        }
        &:before {
            content: '';
            position: absolute;
            width: 400px;
            height: 25px;
            left: 50%;
            margin-left: -200px;
            top: -25px;
            z-index: 1;
            background: $blue;
            border-radius: 5px 5px 0 0;
            @include xs {
                height: 5px;
                top: -5px;
            }
        }
        .cc-box-content {
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            .ccbc-text {
                text-align: center;
                align-self: center;
                .ccbct-img {
                    min-height: 150px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    &.ccbct-img-small {
                        padding-top: 20px;
                        min-height: 100px;
                    }
                }
                h3.ccbct-h3 {
                    color: $blue;
                    font-size: 2rem;
                    font-weight: bold;
                    margin-top: 0;
                    &.ccbct-h3-small {
                        font-weight: normal;
                        font-size: 1.5rem;
                        padding-top: 30px;
                    }
                }
                p.ccbct-p {
                    color: $black;
                    opacity: .6;
                    padding: 5px 20px;
                    font-size: 1rem;
                    line-height: 1.3rem;
                    &.ccbct-p-small {
                        padding: 5px 80px;
                    }
                }
                a.ccbct-button-action {
                    background: $blue;
                    color: $white;
                    padding: 15px 35px;
                    border: 0;
                    margin-top: 25px;
                    font-size: 1.2rem;
                    display: table;
                    margin: 20px auto;
                }
                a.ccbct-link-action {
                    font-size: 1.2rem;
                    font-weight: bold;
                    padding: 10px 0 20px;
                    opacity: .5;
                    color: $blue;
                    text-align: center;
                    display: block;
                }
            }
        }
    }
    #product-show-pots {
        .pspots-h3 {
            color: $blue;
            text-align: center;
            font-size: 2.5rem;
            font-weight: bold;
            @include xs {
                padding-top: 30px;
                font-size: 2rem;
            }
        }
        .pspots-p {
            font-size: 1.5rem;
            line-height: 2rem;
            color: $black;
            opacity: .6;
            text-align: center;
            padding: 30px 25%;
            @include xs {
                font-size: 1.2rem;
                padding: 20px;
            }
        }
        .pspots-box {
            margin: 30px 0;
            .pspotsb-p {
                font-size: 1.5rem;
                color: $blue;
                padding: 20px 0 0 0;
                margin: 0;
                font-weight: bold;
                opacity: .8;
            }
            .pspotsb-container {
                margin-top: 25px;
                .pspotsbc-image {
                    width: 100px;
                }
                .pspotsbc-h3 {
                    font-weight: bold;
                    font-size: 1.1rem;
                    margin: 0;
                    color: $blue;
                    small {
                        display: block;
                        padding-top: 7px;
                        color: $black;
                        opacity: .5;
                        font-size: .9rem;
                    }
                }
                .pspotsbc-table {
                    text-align: center;
                    padding: 10px 0;
                    margin: 0;
                    font-size: 1.3rem;
                    color: lighten($black, 50%);
                    &.pspotsbct-odd {
                        background: $xxlight-gray;
                    }
                    &.pspotsbct-even {
                        background: $white;
                    }
                }
            }
        }
    }
    #product-color-simulator {
        margin-top: 100px;
        background: linear-gradient(to bottom, $white 169px, $xxlight-gray 169px);
        position: relative;
        padding-bottom: 50px;
        @include xs {
            margin-top: 10px;
            padding-bottom: 10px;
        }
        &.pcs-big-padding-bottom {
            padding-bottom: 150px;
        }
        .wrapper>.row {
            @include xs {
                display: flex;
                flex-flow: wrap;
            }
        }
        &:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 150px 0 0 700px;
            border-color: transparent transparent transparent $xxlight-gray;
            position: absolute;
            top: 23px;
            left: 0;
            z-index: 0;
            @include xl {
                border-width: 150px 0 0 1000px;
            }
            @include md {
                border-width: 150px 0 0 500px;
            }
            @include xs {
                display: none;
            }
        }
        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 150px 700px;
            border-color: transparent transparent $xxlight-gray transparent;
            position: absolute;
            top: 23px;
            right: 0;
            z-index: 0;
            @include xl {
                border-width: 0 0 150px 1000px;
            }
            @include md {
                border-width: 0 0 150px 500px;
            }
            @include xs {
                display: none;
            }
        }
        .pcs-aside {
            @include xs {
                padding-top: 50px;
            }
            .pcsa-h3 {
                font-size: 2.5rem;
                line-height: 3rem;
                color: $blue;
                font-weight: bold;
                width: 100%;
                text-align: left;
            }
            .pcsa-container {
                background: $white;
                padding: 10px;
                box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
                margin-top: 30px;
                z-index: 3;
                position: relative;
                @include sm {
                    margin-bottom: 50px;
                }
                .product-radio-click {
                    display: block;
                    width: 100%;
                    font-weight: bold;
                    padding-left: 35px;
                    position: relative;
                    margin: 10px 0;
                    &:hover {
                        cursor: pointer;
                    }
                    &:before {
                        content: '';
                        width: 15px;
                        height: 15px;
                        border: solid 1px $blue;
                        border-radius: 50%;
                        position: absolute;
                        left: 10px;
                        top: 2px;
                    }
                    &.active {
                        &:after {
                            content: '';
                            width: 9px;
                            height: 9px;
                            background: $blue;
                            border-radius: 50%;
                            position: absolute;
                            left: 13px;
                            top: 5px;
                        }
                    }
                }
                .pcsac-h4 {
                    color: $blue;
                    text-align: left;
                    margin: 20px 10px;
                    font-weight: bold;
                    font-size: 1.7rem;
                }
                .btn-pcsac {
                    opacity: .5;
                    &.active {
                        opacity: 1;
                    }
                    &:hover {
                        cursor: pointer;
                        opacity: 1;
                    }
                }
                .btn-pcsac-first-radio {
                    opacity: .5;
                    &.active {
                        opacity: 1;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                .btn-pcsac-second-radio {
                    opacity: .5;
                    &.active {
                        opacity: 1;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                img {
                    margin: auto;
                    display: block;
                }
                .pcsac-p {
                    color: $blue;
                    text-align: center;
                    font-size: 1rem;
                    font-weight: 600;
                }
                .pcsac-input {
                    border: solid 1px $soft-gray;
                    border-radius: 5px;
                    max-width: 120px;
                    font-size: 1.5rem;
                    min-height: 44px;
                    font-weight: bold;
                    padding: 10px;
                    text-align: center;
                }
                .pcsac-span {
                    font-size: 1.5rem;
                    padding-left: 10px;
                }
                .btn-pcsac-unit {
                    background: $blue;
                    color: $white;
                    text-align: center;
                    padding: 15px 30px;
                    width: 100%;
                    border: 0;
                    font-size: 1.2rem;
                    margin-top: 20px;
                    &:hover {
                        background: lighten($blue, 5%);
                        transition: background ease-out .5s;
                    }
                }
            }
        }
        #products-container {
            @include sm {
                padding-bottom: 200px;
            }
            @include xs {
                padding-bottom: 200px;
                min-height: 560px;
                padding-top: 60px;
            }
            @include i7 {
                min-height: 540px;
            }
            .carousel {
                .carousel-control {
                    &.left,
                    &.right {
                        background-image: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .carousel-inner {
                    .item {
                        img.cii-img {
                            margin: auto;
                            display: block;
                            width: 50%;
                            &.img-solo {
                                width: 60%;
                            }
                        }
                    }
                    &.cii-img-small {
                        .item {
                            img.cii-img {
                                width: 30%;
                            }
                        }
                    }
                }
            }
            .first-class-slider-cover {
                position: relative;
                z-index: 1;
            }
            .second-class-slider-cover {
                position: relative;
                top: -70px;
                z-index: 0;
                @include xs {
                    top: -20px;
                }
            }
            .cartybox-cs {
                min-height: 150px;
            }
            .products-big-description {
                background: $mid-blue;
                text-align: center;
                padding: 20px 25px;
                border-radius: 5px;
                max-width: 570px;
                margin-bottom: 50px;
                margin-left: 50%;
                position: relative;
                z-index: 2;
                @include xs {
                    width: 100%;
                    max-width: 100%;
                    margin-top: 20px;
                    text-align: center;
                    margin-left: 0;
                }
                .pbd-h3 {
                    color: $white;
                    margin-top: 10px;
                    font-weight: 100;
                    font-size: 1.1rem;
                    line-height: 1.6rem;
                    text-transform: uppercase;
                }
                .pbd-p {
                    color: $white;
                    font-weight: 100;
                    font-size: 1.1rem;
                    line-height: 1.6rem;
                    opacity: .8;
                }
            }
            .cartybox-description {
                h3.cartybox-h3 {
                    color: $blue;
                    font-weight: bold;
                    font-size: 1.5rem;
                    margin: 0 0 5px 0;
                }
                p.cartybox-p {
                    display: block;
                    color: $black;
                    opacity: .6;
                    font-size: 1.2rem;
                    font-weight: bold;
                    line-height: 1.2rem;
                    small {
                        font-weight: 100;
                        display: block;
                        color: $black;
                        opacity: .8;
                        font-size: 1rem;
                        padding-top: 7px;
                    }
                }
            }
            .product-description {
                padding-top: 40px;
                @include xs{
                    padding-top:80px;
                }
                .product-p {
                    font-weight: bold;
                    opacity: .8;
                    margin-top: 10px;
                    @include xs {
                        padding: 0 20px;
                    }
                    small {
                        display: block;
                        font-weight: 100;
                        font-size: 100%;
                        @include xs {
                            font-size: .9rem;
                        }
                    }
                }
            }
        }
    }
    #product-mini-text {
        padding: 50px 0;
        @include xs {
            padding: 10px 0;
        }
        .wrapper>.row {
            padding: 30px 0;
        }
        .cexplation-container {
            display: flex;
            align-content: center;
            flex-flow: wrap;
            height: 100%;
            max-height: 100%;
            .cexplation-h3 {
                color: $blue;
                position: relative;
                width: 100%;
                padding-bottom: 30px;
            }
            .cexplation-p {
                color: $black;
                opacity: .6;
                font-size: 1rem;
                @include xs {
                    margin-bottom: 30px;
                }
            }
        }
    }
    #product-explanation {
        padding: 50px 0;
        @include xs {
            padding: 10px 0;
        }
        .wrapper>.row {
            padding: 30px 0;
        }
        .cexplation-container {
            display: flex;
            align-content: center;
            min-height: 300px;
            flex-flow: wrap;
            height: 100%;
            max-height: 100%;
            @include xs {
                min-height: 250px;
            }
            &.padding-left {
                padding-left: 50px;
                @include xs {
                    padding-left: 15px;
                }
            }
            &.padding-right {
                padding-right: 50px;
                @include xs {
                    padding-right: 15px;
                    padding-left: 15px;
                }
                &.text-right {
                    @include xs {
                        text-align: left !important;
                    }
                }
            }
            .cexplation-h3 {
                color: $blue;
                position: relative;
                width: 100%;
                @include xs {
                    margin-top: 0;
                }
                &.left {
                    &:before {
                        content: '';
                        position: absolute;
                        width: 3px;
                        height: 40px;
                        background: $blue;
                        left: -25px;
                        top: -10px;
                        @include xs {
                            display: none;
                        }
                    }
                }
                &.right {
                    &:before {
                        content: '';
                        position: absolute;
                        width: 3px;
                        height: 40px;
                        background: $blue;
                        right: -25px;
                        top: -10px;
                        @include xs {
                            display: none;
                        }
                    }
                }
            }
            .cexplation-p {
                color: $black;
                opacity: .6;
                font-size: 1rem;
            }
        }
    }
    #product-telechargements {
        background: $xxlight-gray;
        padding: 30px 0 120px 0;
        @include sm {
            padding: 30px 0 220px 0;
        }
        .ctelechargements-h3 {
            color: $blue;
            font-size: 2.3rem;
        }
        .ctelechargements-p {
            color: $black;
            opacity: .4;
            font-size: 1.2rem;
            font-weight: bold;
        }
        .btn-ctele-telecharger {
            background: $blue;
            color: $white;
            padding: 15px 35px;
            border: 0;
            position: relative;
            top: 45px;
            font-size: 1.2rem;
            @include xs {
                display: table;
                margin: 10px 0;
            }
        }
        .btn-ctele-fiche {
            background: transparent;
            color: $blue;
            padding: 15px 0 15px 35px;
            border: 0;
            position: relative;
            top: 45px;
            font-size: 1.2rem;
            opacity: .6;
            font-weight: bold;
            @include xs {
                padding: 15px 0 15px 0;
            }
        }
        .text-right {
            @include xs {
                text-align: left;
            }
        }
    }
}

#potscarty-autres-1,
#potscarty-autres-21 {
    .cii-img.cii-img-solo {
        width: 30% !important;
    }
}

#flute {
    .cii-img {
        width: 30% !important;
    }
}

.bigBanner {
    background: url("images/cartybox/banner_cartyboxcouleur.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 420px;
    margin-top: 100px;
    @include xs {
        height: auto;
        margin-top: 0;
    }
    @include sm {
        height: auto;
        margin-top: 0;
    }
    .bigb-box {
        margin-right: auto;
        margin-left: auto;
        padding-right: 30px;
        padding-left: 30px;
        max-width: calc(1190px - (30px * 2));
        h3.bbb-h3 {
            color: $white;
            padding-top: 150px;
            font-size: 3rem;
            @include xs {
                margin-top: 100px;
            }
        }
    }
}

#CartyboxSliderProducts {
    margin: auto;
    .carousel-indicators {
        bottom: -40px;
        li {
            border: 1px solid #fff;
            background: lighten($soft-gray, 20%);
            &.active {
                background: $blue;
            }
        }
    }
    .carousel-inner {
        .item {
            img {
                margin: auto;
            }
            .hclb-text {
                text-align: center;
                padding: 20px;
                font-size: 1.4rem;
            }
        }
    }
}

.mid-text-products {
    text-align: center;
    color: $soft-gray;
    font-weight: 100;
    font-size: 1.1rem;
    line-height: 1.6rem;
    &.mid {
        margin: 20px 0;
        color: $mid-blue;
        font-weight: bold;
    }
}

#flute_opaque,
#flute_cristal {
    .item {
        .cii-img {
            @include lg {
                width: 30% !important;
            }
            @include md {
                width: 30% !important;
            }
        }
    }
}