<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cexplation-container ">
        <h3 class="cexplation-h3">Dynamisez vos venter avec les Cartybox de couleur ! </h3>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 cexplation-container ">

        <p class="cexplation-p"> Découvrez toutes les qualités de la boîte CARTYBOX maintenant en couleur !
            Choisissez le fond et le couvercle de la même couleur ou osez les combinaisons !
</p>
    </div>
    
    <!-- Secondary text box
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 cexplation-container">

        <p class="cexplation-p"> Les CARTYBOX vous accompagnent dans la préparation de vos plats, le dressage de vos assiettes et la conservation de vos produits. Adaptées tout aussi bien au chaud qu'au froid, utilisez les CARTYBOX pour conserver vos préparations, vos condiments,
            vos épices... </p>
    </div>
    -->
</div>