<div class="pcs-aside">
    <h3 class="pcsa-h3">Simulateur <br> de couleur </h3>
    <div class="pcsa-container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="pcsac-h4"> Contenance </h4>
            </div>
            <a data-target="cartybox-slider-45" class="active btn-pcsac col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="/images/cartybox/contenance/45.svg" alt="45">
                <p class="pcsac-p">45 cl</p>
            </a>
            <a data-target="cartybox-slider-75" class="btn-pcsac col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="/images/cartybox/contenance/75.svg" alt="75">
                <p class="pcsac-p">75 cl</p>
            </a>
            <a data-target="cartybox-slider-110" class="btn-pcsac col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="/images/cartybox/contenance/110.svg" alt="110">
                <p class="pcsac-p">110 cl</p>
            </a>
            <a data-target="cartybox-slider-115" class="btn-pcsac col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="/images/cartybox/contenance/115.svg" alt="115">
                <p class="pcsac-p">115 cl</p>
            </a>
            <a data-target="cartybox-slider-135" class="btn-pcsac col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="/images/cartybox/contenance/135.svg" alt="135">
                <p class="pcsac-p">135 cl</p>
            </a>
            <a data-target="cartybox-slider-135-2" class="btn-pcsac col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="/images/cartybox/contenance/135-2.svg" alt="135">
                <p class="pcsac-p">135 cl</p>
            </a>
            <a data-target="cartybox-slider-180" class="btn-pcsac col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="/images/cartybox/contenance/180.svg" alt="180">
                <p class="pcsac-p">180 cl</p>
            </a>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <hr>
                <input placeholder="1.000" class="pcsac-input" maxlength="6" type="text"> <span class="pcsac-span">  unités </span>
                <button class="btn-pcsac-unit" type="button"> Ajouter à ma demande de devis </button>
            </div>
        </div>
    </div>
</div>