<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="cartybox-explanation-01" class="carousel-image-square product-cs cis-left carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{ site.url }}/assets/images/cartybox/explanation/explanation-01.jpg" alt="cartybox_courvercle_rouge">
                </div>

                <div class="item">
                    <img src="{{ site.url }}/assets/images/cartybox/explanation/explanation-01.jpg" alt="cartybox_courvercle_rouge">
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left left-mini right carousel-control" href="#cartybox-explanation-01" data-slide="prev">
                <img src="{{ site.url }}/assets/images/all/arrow-left.svg" alt="arrow left">
                <span class="sr-only">Previous</span>
            </a>
            <a class="right right-mini carousel-control" href="#cartybox-explanation-01" data-slide="next">
                <img src="{{ site.url }}/assets/images/all/arrow-right.svg" alt="arrow right">
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 cexplation-container padding-left">
        <h3 class="cexplation-h3 left">Le partenaire idéal en cuisine </h3>
        <p class="cexplation-p"> Les CARTYBOX vous accompagnent dans la préparation de vos plats, le dressage de vos assiettes et la conservation de vos produits. Adaptées tout aussi bien au chaud qu'au froid, utilisez les CARTYBOX pour conserver vos préparations, vos condiments,
            vos épices... </p>
    </div>
</div>