<div style="display:none;" id="cartybox-slider-115" class="ps-slide">
    <div class="products-big-description hidden-xs">
        <h3 class="pbd-h3">Créez votre Cartybox personnalisée ! </h3>
        <p class="pbd-p"> Mixez les contenances, les couleurs de boites et de couvercles pour avoir votre propre CARTYBOX. </p>
    </div>

    <div id="cartybox-slider-115-cover" class="first-class-slider-cover product-cs carousel slide" data-ride="carousel">
        <div id="casquette_115" class="carousel-inner">
            <div class="item active">
                <p class="mid-text-products mid">Couvercle Bleu Turquoise</p>
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/couvercle/115_couvercle_bleue.png" alt="couvercle bleu turquoise">
            </div>

            <div class="item">
                <p class="mid-text-products mid">Couvercle Rouge</p>
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/couvercle/115_couvercle_rouge.png" alt="couvercle rouge">
            </div>

            <div class="item">
                <p class="mid-text-products mid">Couvercle Opaque</p>
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/couvercle/115_couvercle_blanc.png" alt="couvercle opaque">
            </div>

            <div class="item">
                <p class="mid-text-products mid">Couvercle Orange</p>
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/couvercle/115_couvercle_orange.png" alt="couvercle orange">
            </div>

            <div class="item">
                <p class="mid-text-products mid">Couvercle Cristal</p>
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/couvercle/115_couvercle_transparent.png" alt="couvercle cristal">
            </div>

            <div class="item">
                <p class="mid-text-products mid">Couvercle Vert Anis</p>
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/couvercle/115_couvercle_vert.png" alt="couvercle vert anis">
            </div>

            <div class="item">
                <p class="mid-text-products mid">Couvercle Fushia</p>
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/couvercle/115_couvercle_fushia.png" alt="couvercle fushia">

            </div>

            <div class="item">
                <p class="mid-text-products mid">Couvercle Jaune</p>
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/couvercle/115_couvercle_jaune.png" alt="couvercle jaune">
            </div>

            <div class="item">
                <p class="mid-text-products mid">Couvercle Noir</p>
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/couvercle/115_couvercle_noir.png" alt="couvercle noir">
            </div>

            <div class="item">
                <p class="mid-text-products mid">Couvercle Blanc</p>
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/couvercle/115_couvercle_opaque.png" alt="couvercle blanc">
            </div>

            <div class="item">
                <p class="mid-text-products mid">Couvercle Prune</p>
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/couvercle/115_couvercle_bordeaux.png" alt="couvercle prune">
            </div>

            <div class="item">
                <p class="mid-text-products mid">Couvercle Gris</p>
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/couvercle/115_couvercle_gris.png" alt="couvercle gris">
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#cartybox-slider-115-cover" data-slide="prev">
            <img src="{{ site.url }}/assets/images/all/arrow-left.svg" alt="Précédent">
            <span class="sr-only">Précédent</span>
        </a>
        <a class="right carousel-control" href="#cartybox-slider-115-cover" data-slide="next">
            <img src="{{ site.url }}/assets/images/all/arrow-right.svg" alt="Prochain">
            <span class="sr-only">Prochain</span>
        </a>
    </div>


    <div id="cartybox-slider-115-box" class="second-class-slider-cover product-cs carousel slide" data-ride="carousel">
        <div id="casserole_115" class="carousel-inner">
            <div class="item active">

                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/box/115_box_transparent.png" alt="boîte cristal">
                <p class="mid-text-products mid">Boîte Cristal</p>
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/box/115_box_opaque.png" alt="boîte opaque">
                <p class="mid-text-products mid">Boîte Opaque</p>
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/box/115_box_noir.png" alt="boîte noire">
                <p class="mid-text-products mid">Boîte Noire</p>
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/box/115_box_blanc.png" alt="boîte blanche">
                <p class="mid-text-products mid">Boîte Blanche</p>
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/box/115_box_bleue.png" alt="boîte bleu turquoise">
                <p class="mid-text-products mid">Boîte Bleu Turquoise</p>
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/box/115_box_bordeaux.png" alt="boîte prune">
                <p class="mid-text-products mid">Boîte Prune</p>
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/box/115_box_gris.png" alt="boîte grise">
                <p class="mid-text-products mid">Boîte Grise</p>
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/box/115_box_orange.png" alt="boîte orange">
                <p class="mid-text-products mid">Boîte Orange</p>
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/box/115_box_rouge.png" alt="boîte rouge">
                <p class="mid-text-products mid">Boîte Rouge</p>
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/cartybox/115cl/box/115_box_vert.png" alt="boîte vert anis">

                <p class="mid-text-products mid">Boîte Vert Anis</p>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#cartybox-slider-115-box" data-slide="prev">
            <img src="{{ site.url }}/assets/images/all/arrow-left.svg" alt="Précédent">
            <span class="sr-only">Précédent</span>
        </a>
        <a class="right carousel-control" href="#cartybox-slider-115-box" data-slide="next">
            <img src="{{ site.url }}/assets/images/all/arrow-right.svg" alt="Prochain">
            <span class="sr-only">Prochain</span>
        </a>
    </div>

    <div class="product-description text-center">
        <p class="product-p">Vous avez seléctionné le modèle 115 cl (130 x 159 x 83 mm)
        </p>
    </div>
</div>