<form id="send-contact-consommateur" method="POST" action="https://formspree.io/serviceplus@carty.fr">
    <fieldset>
        <input type="hidden" name="_subject" value="Contactez-nous - Consommateur" />
        <input type="text" id="nomcomplet" name="Nom / Prénomt" required class="form-control contact-input" placeholder="* Nom / Prénom">
        <input type="email" name="Email" id="email" required class="form-control contact-input" placeholder="* Email">
        <input type="number" name="Téléphone" id="telephone" required class="form-control contact-input" placeholder="* Téléphone">
        <input type="text" id="objet" name="Objet" required class="form-control contact-input" placeholder="* Objet">
        <textarea name="Message" id="message" cols="30" rows="10" placeholder="* Message"></textarea>
        <input type="text" name="_gotcha" style="display:none" />
        <div class="btn-form-wrap">
            <input type="submit" id="envia" value="Envoyer" class="btn btn-submit btn-primary btn-lg pull-right">
        </div>
    </fieldset>
</form>