<form id="send-devis-producteur" method="POST" action="https://formspree.io/serviceplus@carty.fr">

    <fieldset>
        <input type="hidden" name="_subject" value="Devis - Producteur" />
        <input type="text" id="nomcomplet" name="Nom / Prénom" required class="form-control devis-input" placeholder="* Nom / Prénom">
        <input type="text" id="societe" name="Societé" class="form-control devis-input" placeholder="Societé">
        <input type="text" name="Adresse" id="adress" required class="form-control devis-input" placeholder="* Adresse">
        <input type="number" name="Code Postal" id="codepostal" required class="form-control devis-input" placeholder="* Code Postal">
        <input type="text" name="Ville" id="ville" required class="form-control devis-input" placeholder="* Ville">
        <input type="text" name="Pays" id="pays" required class="form-control devis-input" placeholder="* Pays">
        <input type="email" name="Email" id="email" required class="form-control devis-input" placeholder="* Email">
        <input type="number" name="Téléphone" id="telephone" required class="form-control devis-input" placeholder="* Téléphone">
        <input type="text" id="objet" name="Objet" class="form-control devis-input" placeholder="Devis">
        <textarea name="Message" id="message" cols="30" rows="10" placeholder="* Message"></textarea>
        <textarea type="hide" name="devis" id="message_prod" style="display:none;" cols="30" rows="10" placeholder="* Message"></textarea>
        <input type="text" name="_gotcha" style="display:none" />
        <div class="btn-form-wrap">
            <input type="submit" id="envia" value="Envoyer" class="btn btn-submit btn-primary btn-lg pull-right">
        </div>
    </fieldset>
</form>