<div id="pcs-aside-id" class="pcs-aside">
    <h3 class="pcsa-h3">Simulateur <br> de couleur </h3>
    <div class="pcsa-container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <a data-target="first-radio" class="active product-radio-click">
                    Opaque
                        </a>
                <a data-target="second-radio" class="product-radio-click">
                    Cristal
                        </a>
            </div>
        </div>



        <div id="first-radio" class="row container-select-radio-box">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center aside-mobile">
                <hr>
                <input placeholder="1.000" id="quantite_1" class="pcsac-input" maxlength="6" type="number" min="1"> <span class="pcsac-span">  unités </span>
                <button class="btn-pcsac-unit" type="button" onClick="ajouterDevis(1)"> Ajouter à ma demande de devis </button>
            </div>
        </div>

        <div id="second-radio" style="display:none;" class="row container-select-radio-box">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center  aside-mobile">
                <hr>
                <input placeholder="1.000" id="quantite_2" class="pcsac-input" maxlength="6" type="number" min="1"> <span class="pcsac-span">  unités </span>
                <button class="btn-pcsac-unit" type="button" onClick="ajouterDevis(2)"> Ajouter à ma demande de devis </button>
            </div>
        </div>

    </div>
</div>