<!-- @start include footer -->
<footer>
    <div class="footer-brand">
        <div class="wrapper">
            <div class="fb-logo">
                <p style="color:#ffffff; margin:0;">Carty</p>
            </div>
            <div class="fb-text">
                <p class="fbt-text">Télécharger <br> notre catalogue</p>
                <div class="fbt-image">

                </div>
            </div>
        </div>
    </div>
    <div class="footer-links">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <ul>
                        <li class="fl-title">Produits</li>
                        <li><a class="fl-link" href="/">Cartybox</a></li>
                        <li><a class="fl-link" href="/">Pots Carty</a></li>
                        <li><a class="fl-link" href="/">Flûtes Carty</a></li>
                        <li><a class="fl-link" href="/">Documets</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <ul>
                        <li class="fl-title">L'entreprise</li>
                        <li><a class="fl-link" href="/">Qui sommes-nous ?</a></li>
                        <li><a class="fl-link" href="/">Notre histoire</a></li>
                        <li><a class="fl-link" href="/">Nos valeurs</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <ul>
                        <li class="fl-title">Contactez-nous</li>
                        <li><a class="fl-link" href="/">Distributeurs</a></li>
                        <li><a class="fl-link" href="/">Producteurs</a></li>
                        <li><a class="fl-link" href="/">Commerçants</a></li>
                        <li><a class="fl-link" href="/">Consommateurs</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="pull-right">
                        <ul>
                            <li class="fl-title text-right">adresse</li>
                        </ul>
                        <address class="text-right">
                            27-29 Rue Joseph Cugnot <br>
                            37000 TOURS <br>
                            France
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="wrapper">
            <div>
                <p class="fc-text">© 2018 Carty. Tous droits réservés</p>
                <p class="fc-text">Mentions Légales</p>
            </div>
        </div>
    </div>
</footer>
<!-- @end include footer -->