<div class="dlp-card">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 hidden-xs">
        <div class="clpc-image clpc-image-mobile">
            <img src="{{ site.url }}/assets/images/cartybox/cartybox.svg" alt="Conservation optimale">
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
        <div class="clpc-content">
            <div>
                <h3 class="clpc-h3">CARTYBOX</h3>
                <p class="clpc-p">45 cl, Noir, Couvercle Vert</p>

                <span class="clpc-span">Supprimer</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-4 col-sm-3">
        <div class="clpc-count">
            <p class="clpcc-p">1.000 <small>unités</small></p>
        </div>
    </div>
</div>