<!-- @start include header -->

<header id="header-carty" role="banner">
    <div class="wrapper">

        <a class="hc-logo" href="{{ site.url }}/index.html"><img src="{{ site.url }}/assets/images/header/carty-logo.svg" alt="Carty"></a>
        <nav class="site-nav-sub">
            <a class="page-link-sub" href="{{ site.url }}/entreprise.html">L'entreprise</a>
            <a class="page-link-sub" href="{{ site.url }}/contactez-nous.html">Contactez-nous</a>


            <div class="page-link-sub dropdown">

                <div class="custom-select">
                    <div class="custom-select-selected"><img src="{{ site.url }}/assets/images/all/icon-fr.svg" alt="France"> <i class="glyphicon glyphicon-menu-down"></i></div>
                    <ul class="custom-select-options">
                        <li>
                            <a href="#"><img src="{{ site.url }}/assets/images/all/icon-fr.svg" alt="Français"> <i class="glyphicon glyphicon-menu-down"></i></a>
                        </li>
                        <li>
                            <a href="http://carty.fr/2018_en"><img src="{{ site.url }}/assets/images/all/icon-en.svg" alt="English"> <i class="glyphicon glyphicon-menu-down"></i></a>
                        </li>

                    </ul>
                </div>

            </div>
        </nav>
        <nav class="site-nav">
            <input type="checkbox" id="nav-trigger" class="nav-trigger" />
            <label class="nav-trigger-menu" for="nav-trigger">
                  <span class="menu-icon">
                    <svg viewBox="0 0 18 15" width="18px" height="15px">
                      <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
                      <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
                      <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
                    </svg>
                  </span>
            </label>


            <div class="trigger">
                <label class="nav-trigger-close" for="nav-trigger">
                          <img src="{{ site.url }}/assets/images/all/icon-close.svg">
                </label>
                <a class="page-link" href="{{ site.url }}/cartybox.html">Cartybox</a>
                <div class="page-link dropdown">
                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="pl-dropdown">Pots Carty
                    <i class="glyphicon glyphicon-menu-down"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="pl-dropdown">
                        <li>
                            <a href="{{ site.url }}/pots-carty.html">
                                <img src="{{ site.url }}/assets/images/header/icon-pots.svg"> Pots Carty</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}/pots-fermeture-securite.html">
                                <img src="{{ site.url }}/assets/images/header/icon-pots-fermeture.svg"> Pots <small>Fermeture de sécurité</small></a>
                        </li>
                        <li>
                            <a href="{{ site.url }}/autres-pots.html">
                                <img src="{{ site.url }}/assets/images/header/icon-seau.svg">Autres</a>
                        </li>


                    </ul>
                </div>
                <a class="page-link pl-before-last-link" href="{{ site.url }}/flutes-carty.html">Flûtes Carty</a>

                <div class="page-link pl-last-link dropdown dropdown-devis">
                    <a class="plll" href="{{ site.url }}/devis.html"><img src="{{ site.url }}/assets/images/header/icon-devis.svg" alt="Carty"> Devis
                    </a>
                    <ul class="dropdown-menu dropdown-menu-devis">
                        <li class="devis-container-itens">
                            <div class="devis-list-product">
                                <div id="mon-devi">
                                </div>

                                <p class="dlp-count-produits" id="devis-quantite">

                                </p>
                                <a href="{{ site.url }}/devis.html" class="btn-dlp-submit">DEMANDER UN DEVIS</a>
                            </div>
                        </li>
                    </ul>
                </div>

                <hr class="mobile-hr">
                <a class="mobile-links-dropdown-menu" href="{{ site.url }}/documents.html">Documents</a>
                <a class="mobile-links-dropdown-menu" href="{{ site.url }}/entreprise.html">L'entreprise</a>
                <a class="mobile-links-dropdown-menu" href="{{ site.url }}/contactez-nous.html">Contactez-nous</a>
                <a class="mobile-links-dropdown-menu" href="{{ site.url }}/contact.html">English Version</a>

            </div>
            <!-- trigger -->

        </nav>

        <nav class="nav-devis">
            <input type="checkbox" id="nav-devis" class="nav-devis" />
            <label class="nav-devis-menu" for="nav-devis">
                    <img class="ndm-image" src="{{ site.url }}/assets/images/header/icon-devis-mobile.svg" alt="Carty">
            </label>
            <div class="trigger-devis">
                <label class="nav-devis-close" for="nav-devis">
                    <img src="{{ site.url }}/assets/images/all/icon-close-blue.svg">
                </label>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 devis-container-itens">
                    <ul class="dropdown-menu-devis">
                        <li class="devis-container-itens">
                            <div class="devis-list-product">
                                {% include header-devis-list.html %} {% include header-devis-list.html %} {% include header-devis-list.html %}

                                <p class="dlp-count-produits">Plus 10 produits <img src="{{ site.url }}/assets/images/all/icon-arrow.svg"></p>
                                <a href="{{ site.url }}/devis.html" class="btn-dlp-submit">DEMANDER UN DEVIS</a>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
    </div>
</header>

<!-- @end include header -->