<div id="potscarty-autres-1" class="ps-slide-first-radio">
    <div class="products-big-description">
        <h3 class="pbd-h3">Choisissez votre pot</h3>
        <p class="pbd-p"> Choisissez le produit adapté a vos besoins. </p>
    </div>

    <div class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img class="cii-img cii-img-solo" src="{{ site.url }}/assets/images/potscarty-autres/pot-1-l.png" alt="pot 1 l">
            </div>
        </div>

    </div>

    <div class="product-description text-center">
        <p class="product-p"> Vous avez seléctionné le modèle Pot 1 L (Φ95 x H52 mm)
        </p>
    </div>
</div>