<div id="potscarty-pots-25" style="display:none;" class="ps-slide-first-radio">
    <div class="products-big-description">
        <h3 class="pbd-h3">Créez votre pot personnalisé !</h3>
        <p class="pbd-p"> Mixez la gamme de pot, la contenance, les couleurs et les impressions pour avoir votre propre pot CARTY. </p>
    </div>

    <div id="potscarty-slider-25-cover" class="first-class-slider-cover product-cs carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-standard/couvercle/couvercle-blanc.png" alt="couvercle blanc">
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-standard/couvercle/couvercle-bleu.png" alt="couvercle bleu">
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-standard/couvercle/couvercle-bordeaux.png" alt="couvercle bordeaux">
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-standard/couvercle/couvercle-coquille.png" alt="couvercle coquille">
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-standard/couvercle/couvercle-marron.png" alt="couvercle marron">
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-standard/couvercle/couvercle-noir.png" alt="couvercle noir">
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-standard/couvercle/couvercle-orange.png" alt="couvercle orange">
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-standard/couvercle/couvercle-rouge.png" alt="couvercle rouge">
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-standard/couvercle/couvercle-transparent.png" alt="couvercle transparent">
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-standard/couvercle/couvercle-vert.png" alt="couvercle vert">
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#potscarty-slider-25-cover" data-slide="prev">
            <img src="{{ site.url }}/assets/images/all/arrow-left.svg" alt="Précédent">
            <span class="sr-only">Précédent</span>
        </a>
        <a class="right carousel-control" href="#potscarty-slider-25-cover" data-slide="next">
            <img src="{{ site.url }}/assets/images/all/arrow-right.svg" alt="Prochain">
            <span class="sr-only">Prochain</span>
        </a>
    </div>


    <div class="double-slider-container">
        <div id="potscarty-slider-25-box" class="double-slider-container-first product-cs carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-standard/pots/pot-beige.png" alt="pot beige">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-standard/pots/pot-blanc.png" alt="pot blanc">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-standard/pots/pot-coquille.png" alt="pot coquille">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-standard/pots/pot-transparent.png" alt="pot transparent">
                </div>

            </div>


            <!-- Left and right controls -->
            <a class="left carousel-control" href="#potscarty-slider-25-box" data-slide="prev">
                <img src="{{ site.url }}/assets/images/all/arrow-left.svg" alt="Précédent">
                <span class="sr-only">Précédent</span>
            </a>
            <a class="right carousel-control" href="#potscarty-slider-25-box" data-slide="next">
                <img src="{{ site.url }}/assets/images/all/arrow-right.svg" alt="Prochain">
                <span class="sr-only">Prochain</span>
            </a>
        </div>

        <div id="potscarty-slider-25-image" class="double-slider-container-second product-cs carousel slide" data-ride="carousel">
            <div class="carousel-inner cii-img-small">
                <div class="item active">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/bats/cremecrue_vache.svg" alt="creme crue vache">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/bats/fromagefrais_vachebleu.svg" alt="fromage frais vache bleu">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/bats/fromagefrais_jatte.svg" alt="fromage frais jatte">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/bats/fromagefrais_vachemarron.svg" alt="fromage frais vache marron">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/bats/miel.svg" alt="miel">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/bats/rillettes_couchon.svg" alt="rillettes couchon">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/bats/personnalise.svg" alt="impression personnalise">
                </div>

            </div>


            <!-- Left and right controls -->
            <a class="left carousel-control" href="#potscarty-slider-25-image" data-slide="prev">
                <img src="{{ site.url }}/assets/images/all/arrow-left.svg" alt="Précédent">
                <span class="sr-only">Précédent</span>
            </a>
            <a class="right carousel-control" href="#potscarty-slider-25-image" data-slide="next">
                <img src="{{ site.url }}/assets/images/all/arrow-right.svg" alt="Prochain">
                <span class="sr-only">Prochain</span>
            </a>
        </div>
    </div>

    <div class="product-description text-center">
        <p class="product-p">Le visuel du simulateur correspond au format 25 cl (Φ94 x 71 mm)
            <small>Vous avez seléctionné le modèle 25 cl standard (Φ94 x 71 mm) , pot transparent, couvercle rouge et impression Fromage frais « vache »</small>
        </p>
    </div>
</div>