<div id="pcs-aside-id" class="pcs-aside">

    <div class="pcsa-container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="pcsac-h4"> Gamme </h4>
                <a data-target="first-radio" class="active product-radio-click">
                                Ronds
                </a>
                <a data-target="second-radio" class="product-radio-click">
                               Carrés
                </a>
            </div>
        </div>



        <div id="first-radio" class="row container-select-radio-box">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="pcsac-h4"> Contenance </h4>
            </div>
            <a data-target="potscarty-fermeture-21" class="active btn-pcsac-first-radio col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="{{ site.url }}/assets/images/potscarty-fermeture/ronds/21.svg" alt="21 cl">
                <p class="pcsac-p">21 cl</p>
            </a>
            <a data-target="potscarty-fermeture-365" class="btn-pcsac-first-radio col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="{{ site.url }}/assets/images/potscarty-fermeture/ronds/365.svg" alt="36,5 cl">
                <p class="pcsac-p">36,5 cl</p>
            </a>
            <a data-target="potscarty-fermeture-52" class="btn-pcsac-first-radio col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="{{ site.url }}/assets/images/potscarty-fermeture/ronds/52.svg" alt="52 cl">
                <p class="pcsac-p">52 cl</p>
            </a>
            <a data-target="potscarty-fermeture-565" class="btn-pcsac-first-radio col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="{{ site.url }}/assets/images/potscarty-fermeture/ronds/565.svg" alt="56,5 cl">
                <p class="pcsac-p">56,5 cl</p>
            </a>
            <a data-target="potscarty-fermeture-87" class="btn-pcsac-first-radio col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="{{ site.url }}/assets/images/potscarty-fermeture/ronds/87.svg" alt="87 cl">
                <p class="pcsac-p">87 cl</p>
            </a>
            <a data-target="potscarty-fermeture-1025" class="btn-pcsac-first-radio col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="{{ site.url }}/assets/images/potscarty-fermeture/ronds/1025.svg" alt="102,5 cl">
                <p class="pcsac-p">102,5 cl</p>
            </a>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center aside-mobile">
                <hr>
                <input placeholder="1.000" id="quantite_1" class="pcsac-input" maxlength="6" type="number" min="1"> <span class="pcsac-span">  unités </span>
                <button class="btn-pcsac-unit" type="button" onClick="ajouterDevis(1)"> Ajouter à ma demande de devis </button>
            </div>
        </div>

        <div id="second-radio" style="display:none;" class="row container-select-radio-box">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="pcsac-h4"> Contenance </h4>
            </div>
            <a data-target="potscarty-fermeture-125" class="active btn-pcsac-second-radio col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="{{ site.url }}/assets/images/potscarty-fermeture/carres/125.svg" alt="12,5 cl">
                <p class="pcsac-p">12,5 cl</p>
            </a>
            <a data-target="potscarty-fermeture-15" class="btn-pcsac-second-radio col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="{{ site.url }}/assets/images/potscarty-fermeture/carres/15.svg" alt="15 cl">
                <p class="pcsac-p">15 cl</p>
            </a>
            <a data-target="potscarty-fermeture-225" class="btn-pcsac-second-radio col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="{{ site.url }}/assets/images/potscarty-fermeture/carres/225.svg" alt="22,5 cl">
                <p class="pcsac-p">22,5 cl</p>
            </a>
            <a data-target="potscarty-fermeture-28" class="btn-pcsac-second-radio col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="{{ site.url }}/assets/images/potscarty-fermeture/carres/28.svg" alt="28 cl">
                <p class="pcsac-p">28 cl</p>
            </a>
            <a data-target="potscarty-fermeture-365c" class="btn-pcsac-second-radio col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="{{ site.url }}/assets/images/potscarty-fermeture/carres/365.svg" alt="36,5 cl">
                <p class="pcsac-p">36,5 cl</p>
            </a>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center  aside-mobile">
                <hr>
                <input placeholder="1.000" id="quantite_2" class="pcsac-input" maxlength="6" type="number" min="1"> <span class="pcsac-span">  unités </span>
                <button class="btn-pcsac-unit" type="button" onClick="ajouterDevis(2)"> Ajouter à ma demande de devis </button>
            </div>
        </div>

    </div>
</div>