<div id="potscarty-potstradition-125" class="ps-slide-second-radio">
    <div class="products-big-description">
        <h3 class="pbd-h3"> Créez votre pot personnalisé !</h3>
        <p class="pbd-p"> Mixez la gamme de pot, la contenance, les couleurs et les impressions pour avoir votre propre pot CARTY. </p>
    </div>

    <div id="potscarty-slider-trad-125-cover" class="first-class-slider-cover product-cs carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-tradition/couvercle/couvercletradition-vert.png" alt="couvercle tradition vert">
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-tradition/couvercle/couvercletradition-bleu.png" alt="couvercle tradition bleu">
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-tradition/couvercle/couvercletradition-blanc.png" alt="couvercle tradition blanc">
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-tradition/couvercle/couvercletradition-coquille.png" alt="couvercle tradition coquille">
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-tradition/couvercle/couvercletradition-marron.png" alt="couvercle tradition marron">
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-tradition/couvercle/couvercletradition-noir.png" alt="couvercle tradition noir">
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-tradition/couvercle/couvercletradition-orange.png" alt="couvercle tradition orange">
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-tradition/couvercle/couvercletradition-rouge.png" alt="couvercle tradition rouge">
            </div>

            <div class="item">
                <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-tradition/couvercle/couvercletradition-prune.png" alt="couvercle tradition prune">
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#potscarty-slider-trad-125-cover" data-slide="prev">
            <img src="{{ site.url }}/assets/images/all/arrow-left.svg" alt="Précédent">
            <span class="sr-only">Précédent</span>
        </a>
        <a class="right carousel-control" href="#potscarty-slider-trad-125-cover" data-slide="next">
            <img src="{{ site.url }}/assets/images/all/arrow-right.svg" alt="Prochain">
            <span class="sr-only">Prochain</span>
        </a>
    </div>


    <div class="double-slider-container">
        <div id="potscarty-slider-trad-125-image" class="double-slider-container-first product-cs carousel slide" data-ride="carousel">
            <div class="carousel-inner cii-img-small">
                <div class="item active">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/bats/cremecrue_vache.svg" alt="impression «crème crue vache»">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/bats/fromagefrais_vachebleu.svg" alt="impression «fromage frais vache bleu»">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/bats/fromagefrais_jatte.svg" alt="impression «fromage frais jatte»">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/bats/fromagefrais_vachemarron.svg" alt="impression «fromage frais vache marron»">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/bats/miel.svg" alt="impression «miel»">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/bats/rillettes_couchon.svg" alt="impression «rillettes couchon»">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/bats/sans_impression.svg" alt="sans impression">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/bats/personnalise.svg" alt="impression personnalisé">
                </div>

            </div>


            <!-- Left and right controls -->
            <a class="left carousel-control" href="#potscarty-slider-trad-125-image" data-slide="prev">
                <img src="{{ site.url }}/assets/images/all/arrow-left.svg" alt="Précédent">
                <span class="sr-only">Précédent</span>
            </a>
            <a class="right carousel-control" href="#potscarty-slider-trad-125-image" data-slide="next">
                <img src="{{ site.url }}/assets/images/all/arrow-right.svg" alt="Prochain">
                <span class="sr-only">Prochain</span>
            </a>
        </div>

        <div id="potscarty-slider-trad-125-box" class="double-slider-container-second product-cs carousel slide" data-ride="carousel">
            <div class="carousel-inner ">
                <div class="item active">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-tradition/pots/pottradition-blanc.png" alt="pot blanc">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-tradition/pots/pottradition-cristal.png" alt="pot cristal">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-tradition/pots/pottradition-coquille.png" alt="pot coquille">
                </div>

                <div class="item">
                    <img class="cii-img" src="{{ site.url }}/assets/images/potscarty-pots/pot-tradition/pots/pottradition-gres.png" alt="pot gres">
                </div>


            </div>


            <!-- Left and right controls -->
            <a class="left carousel-control" href="#potscarty-slider-trad-125-box" data-slide="prev">
                <img src="{{ site.url }}/assets/images/all/arrow-left.svg" alt="Précédent">
                <span class="sr-only">Précédent</span>
            </a>
            <a class="right carousel-control" href="#potscarty-slider-trad-125-box" data-slide="next">
                <img src="{{ site.url }}/assets/images/all/arrow-right.svg" alt="Prochain">
                <span class="sr-only">Prochain</span>
            </a>
        </div>
    </div>

    <div class="product-description text-center">
        <img src="{{ site.url }}/assets/images/cartybox/icon-alert.svg">
        <p class="product-p">Le visuel du simulateur correspond au format 25 cl (Ø94 x H76 mm)
            <small>Vous avez seléctionné le modèle 12,5 cl tradition (Ø76 x H62 mm)</small>
        </p>
    </div>
</div>