<div id="potscarty-fermeture-87" style="display:none;" class="ps-slide-first-radio">
    <div class="products-big-description">
        <h3 class="pbd-h3">Choisissez votre Pot !</h3>
        <p class="pbd-p"> Choisissez parmi la gamme de pots ronds ou carrés la contenance correspondante à vos besoins. </p>
    </div>

    <div class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img class="cii-img cii-img-solo" src="{{ site.url }}/assets/images/potscarty-fermeture/ronds/pots_ronds_87cl.png" alt="Rond, 87 cl">
            </div>
        </div>

    </div>

    <div class="product-description text-center">
        <p class="product-p">
            Vous avez seléctionné le modèle rond 87 cl (Ø118 x H54 mm)
        </p>
    </div>
</div>