<div id="potscarty-fermeture-365" style="display:none;" class="ps-slide-first-radio">
    <div class="products-big-description">
        <h3 class="pbd-h3">Choisissez votre Pot !</h3>
        <p class="pbd-p"> Choisissez parmi la gamme de pots ronds ou carrés la contenance correspondante à vos besoins. </p>
    </div>

    <div class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img class="cii-img cii-img-solo" src="{{ site.url }}/assets/images/potscarty-fermeture/ronds/pots_ronds_36-5cl.png" alt="36,5 cl">
            </div>
        </div>

    </div>

    <div class="product-description text-center">
        <p class="product-p">
            <small>Vous avez seléctionné le modèle rond 36,5 cl (Ø95 x H84 mm) </small>
        </p>
    </div>
</div>