<div id="potscarty-autres-21" class="ps-slide-second-radio">
    <div class="products-big-description">
        <h3 class="pbd-h3">Choisissez votre pot</h3>
        <p class="pbd-p"> Choisissez le produit adapté a vos besoins.</p>
    </div>

    <div class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img class="cii-img cii-img-solo" src="{{ site.url }}/assets/images/potscarty-autres/seau-21-l.png" alt="seau 21 l">
            </div>
        </div>

    </div>

    <div class="product-description text-center">
        <p class="product-p">Vous avez seléctionné le modèle Seau avec fermeture de sécurité 21 L (Φ328 x 274 x H52 mm)
        </p>
    </div>
</div>