<div id="potscarty-fermeture-15" style="display:none;" class="ps-slide-second-radio">
    <div class="products-big-description">
        <h3 class="pbd-h3">Choisissez votre Pot !</h3>
        <p class="pbd-p"> Choisissez parmi la gamme de pots ronds ou carrés la contenance correspondante à vos besoins. </p>
    </div>

    <div class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img class="cii-img cii-img-solo" src="{{ site.url }}/assets/images/potscarty-fermeture/carres/pots_carres_15cl.png" alt="pots_carres_15cl">
            </div>
        </div>

    </div>

    <div class="product-description text-center">
        <p class="product-p">Vous avez seléctionné le modèle 15 cl (79 x 79 x 41 mm) </small>
        </p>
    </div>
</div>