<div id="potscarty-pots-50" style="display:none;" class="ps-slide-first-radio">
    <div class="products-big-description">
        <h3 class="pbd-h3">50 Créez votre Cartybox personnalisée !</h3>
        <p class="pbd-p"> Mixez les contenances, les couleurs de boites et de couvercles pour avoir votre propre CARTYBOX. </p>
    </div>

    <div class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img class="cii-img cii-img-solo" src="{{ site.url }}/assets/images/potscarty-fermeture/ronds/pots_ronds_87cl.png" alt="pots_ronds_87cl">
            </div>
        </div>

    </div>

    <div class="product-description text-center">
        <p class="product-p">Le visuel du simulateur correspond au format 45 cl)
            <small>Vous avez seléctionné le modèle 45 cl (106 x 121 x 54mm) , boîte transparent et courvercle rouge </small>
        </p>
    </div>
</div>