---
---

 // colors
$background: #ffffff;
$white: #ffffff;
$light-gray: #f2f2f2;
$xlight-gray: #F5F5F5;
$xxlight-gray: #f8f8f8;
$xxxlight-gray: #fcfcfc;
$black: #000000;
$soft-gray: #979797;
$gray: #343434;
$blue: #2C6FA6;
$text-blue: #275B92;
$dark-blue: #0D3857;
$mid-blue: #14486e;
// media queries
$xs: 300px;
$sm: 768px;
$md: 992px;
$lg:1200px;
$plus: 1900px;
$xplus: 3200px;
@mixin xs {
    @media (min-width:#{$xs}) and (max-width:#{$sm - 1px}) {
        @content;
    }
}

@mixin sm {
    @media (min-width:#{$sm}) and (max-width:#{$md - 1px}) {
        @content;
    }
}

@mixin md {
    @media (min-width:#{$md}) and (max-width: #{$lg - 1px}) {
        @content;
    }
}

@mixin lg {
    @media (min-width:#{$lg}) and (max-width: #{$plus - 1px}) {
        @content;
    }
}

@mixin xl {
    @media (min-width:#{$plus}) and (max-width: #{$xplus - 1px}) {
        @content;
    }
}

@import "bootstrap";
@import "header";
@import "carousel";
@import "content";
@import "footer";
@import "layout";
@import "helpers";
@import "home";
@import "products";
@import "mentions-legales";
@import "documents";
@import "about";